html, body{
    height: 100%;
    margin: 0;
    background-color: rgb(32, 32, 32);
}
header img{
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
header{
    background-color: white;
    color: black;
    font-family:Trebuchet MS;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px; 
    width: 100%; 
    height: auto;
    top:0;
    z-index:20;
}
header span {
    font-style: italic;
}  
nav {
    top:0;
    width:100%;
    background-color:rgb(255, 253, 122);
    float:left;
    clear:left;
    margin-bottom: 10px;
    z-index:10;
    position:relative;
    font-family:Trebuchet MS;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    background-color:rgb(255, 253, 122);
    color: white;
    position: relative;
    bottom: 50%;
    z-index: 20;
    margin:0;
} 
nav > ul > li {
    display:inline-block; 
    text-align: center; 
    padding: 5px 10px 5px 10px; 
    border: 1px solid white; 
    width: 243px;
    position: relative;
    bottom: 50%;
    margin: 0;
}
nav > ul > li > a {
    display: block;
    color: black;
    text-decoration: none;
}
nav > ul > li:hover {
    background: darkgreen;
    color:white;
}
nav > ul > li > a:hover {
    color: white;
}
#nav-home {
    background: rgb(33, 255, 70);
}
article {
    color: white;
}
footer {
    background-color: rgb(158, 17, 17);
    border-top: 4px solid white;
    position: relative;
    bottom: 0%;
    height: auto;
    width: 100%;
    overflow: auto;
    color: rgb(206, 206, 206);
    font-family:Trebuchet MS;
}
#sprites{
    float: left;
    width: 50%;
    margin-bottom: 6px;
}
#sprites > h2, p{
    margin: 0;
    margin: 10px;
}
#yt-sprite {
    background: url('../images/spritesheet.png') no-repeat -101px 0px;
	width: 44px;
	height: 30px;
    display:block;
    float: left;
    margin-left: 10px;
} 
#yt-sprite:hover {
    background: url('../images/spritesheet.png') no-repeat -102px -97px;
	width: 43px;
	height: 30px;
    display: block;
    float:left;
} 
#ig-sprite {
    background: url('../images/spritesheet.png') no-repeat -223px 0px;
	width: 31px;
	height: 30px;
    display: block;
    float:left;
    margin-left: 5px;
} 
#ig-sprite:hover {
    background: url('../images/spritesheet.png') no-repeat -223px -96px;
	width: 31px;
	height: 31px;
    display:block;
    float:left;
    margin-left: 5px;
}
#fb-sprite {
    background: url('../images/spritesheet.png') no-repeat 0px 0px;
	width: 30px;
	height: 30px;
    display: block;
    float:left;
    margin-left: 10px;
}
#fb-sprite:hover {
    background: url('../images/spritesheet.png') no-repeat 0px -97px;
	width: 30px;
	height: 30px;
    display: block;
    float: left;
}
#msgr-sprite {
    background: url('../images/spritesheet.png') no-repeat -327px 0px;
	width: 29px;
	height: 30px;
    display: block;
    float:left;
    margin-left: 5px;
}
#msgr-sprite:hover {
    background: url('../images/spritesheet.png') no-repeat -327px -97px;
	width: 29px;
	height: 30px;
    display: block;
    float:left;
    margin-left: 5px;
}
h1 {
    margin: 0px 15px 0px 0px;
    color: white;
    font-size: 35px;
    font-family: Trebuchet MS;
    margin: 0px;
}
#wheel {
    height: 40px;
    width: 40px;
    float: left;
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
#index-intro {
    position:relative;
    font-family:Trebuchet MS;
    text-align:justify;
    color: white;
}
#index-intro div {
    text-align:center;
}
#index-wsl {
    float: left;
    margin-right: 10px;
    height: 108px;
    width: 135px;
}
#index-intro section p {
    vertical-align: middle;
}
#info {
    font-family: Trebuchet MS;
}
#intro {
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
}
#intro h2 #construction h2{
    margin: 4px;
}
div#introimg1 {
    text-align: center;
}
#img1 {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}
#img2 {
    margin: 10px;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}
#construction {
    margin: 0px 0px 20px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
}
div#designimg1 {
    text-align: center;
    margin: 10px;
}
div#designimg1 > img {
    width: 80%;
    height: auto;
}
p#design  {
    float: left;
    clear: left;
    width: 60%;
    text-align: justify;
}
#designimg2 {
    float: right;
    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
}
#features {
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
}
div#featuresimg {
    text-align: center;
}
div#featuresimg > img {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
features > p {
    float: left;
    clear: left;
}
#prewar {
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
}
div#prewarimg {
    text-align: center;
}
div#prewarimg > img {
    display: inline-block;
    width: 25%;
}
#war {
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
}
div#warimg1 {
    text-align: center;
}
div#warimg1 > img {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

#postwar {
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
}
div#postwarimg {
    text-align: center;
}
div#postwarimg > img {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
#references {
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 10px 10px;
    display: block;
    border: 1px solid white;
    overflow: auto;
    font-family: Trebuchet MS;
}
figure {
    text-align:center;
}
figcaption {
    text-align:center;
    font-style:italic;
}






